header {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
}

p {
  font-size: 1em;
}

h1 {
  font-size: 2em;
}

section div {
  width: 670px;
  margin: 20px auto;
  position: relative;
}

#fairy {
  position: absolute;
  top: 0;
  left: 0;
}

.heart {
  position: absolute;
}