@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

/*********************
**** HTML5 RESET ****
*********************/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}


/***********************
**** GENERAL STYLES ****
***********************/


.group:after {
  content: "";
  display: table;
  clear: both;
}

p {
  margin: 1em 0;
}

#content, #home {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

ul {
  padding: 1em 0 1em 1.5em;
}

blockquote {
  padding: 4%;
  margin-bottom: 3%;
  background: aliceblue;
}

/****************************
*** HOME ANIMATION STYLES ***
****************************/

#fade_1 {
  -webkit-animation: fade_in 2s; /* Chrome, Safari, Opera */
  animation: fade_in 2s ;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fade_in {
    0% {color: white;}
    20% {color: white;}
    from {color: white;}
    to   {color: black;}
}

/* Standard syntax */
@keyframes fade_in {
    0% {color: white;}
    20% {color: white;}
    from {color: white;}
    to   {color: black;}
}

#fade_2 {
  -webkit-animation: fade_tagline 2.5s; /* Chrome, Safari, Opera */
  animation: fade_tagline 2.5s ;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fade_tagline {
    0% {color: white;}
    60% {color: white;}
    from {color: white;}
    to   {color: black;}
}

/* Standard syntax */
@keyframes fade_tagline {
    0% {color: white;}
    60% {color: white;}
    from {color: white;}
    to   {color: black;}
}

#home a {
  -webkit-animation: fade_menu 2.5s; /* Chrome, Safari, Opera */
  animation: fade_menu 2.5s ;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fade_menu {
    0% {color: white;}
    80% {color: white;}
    from {color: white;}
    to   {color: gray;}
}

/* Standard syntax */
@keyframes fade_menu {
    0% {color: white;}
    80% {color: white;}
    from {color: white;}
    to   {color: gray;}
}


/*********************
**** HOME STYLES ****
*********************/

#home {
  width: 92%;
  margin: 20% 4%;
}

#home p, #home h1, #home ul {
  text-align: center;
}

#home p, #home li {
  font-size: 1.4em;
}

#home li {
  display: inline-block;
  padding: 0 1%;

}

#home a {
  text-decoration: underline;
}

/*********************
*** ASIDE STYLES ***
*********************/

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 32%;
  height: 100%;
  text-align: right;
  font-family: "Lucida Console", Monaco, monospace;
  border-right: 1px double gray;
  overflow-y: auto;
}

aside .wrapper {
  padding: 8%;
}

#profile img {
  max-width: 100%;
}

aside h2 {
  max-width: 100%;
  margin: 5px 0;
  font-size: 1.8em;
}

aside p {
  font-size: 0.9em;
  margin-bottom: 10%;
  line-height: 1.4em;
}

aside ul {
  margin-top: 10%;
  padding: 0;
  font-size: 1.5em;
}

aside li {
  margin-bottom: 3%;
}

nav {
  display: block;
}

nav a {
  color: gray;
  text-decoration: none;
}

nav a:hover {
  background: #E6DCFA;
}

#social-profiles img {
  margin-left: 2%;
  max-width: 100%;
}


/*********************
*** CONTENT STYLES ***
*********************/

section#content {
  width: 58%;
  padding: 3% 5%;
  position: absolute;
  top: 0;
  right: 0;
}

section h1 {
  display: inline-block;
  margin: 0 4% 2% 0;
}

.date {
  display: inline-block;
  margin: 0 0 2%;
}

div.content-body {
  line-height: 1.6em;
  letter-spacing: 0.01em;
}

.continue-reading {
  border-top: 1px dashed gray;
  padding-top: 1em;
}

article {
  margin-bottom: 4em;
}
